/* .sdf3 code .sort_Label {
  color: rgb(128 128 128);
}
The sort Label has these constructors, but so do Aterms:AFun and Literals:FunctionName :-(
*/
.sdf3 code .cons_Quoted {
  color: rgb(128 128 128);
}
.sdf3 code .cons_Unquoted {
  color: rgb(128 128 128);
}

/* .sdf3 code .sort_Character {
  color: rgb(0 0 255);
}
The sort Character has these constructors, which are not overloaded:
 */
.sdf3 code .cons_Regular {
  color: rgb(0 128 0);
}
.sdf3 code .cons_Binary {
  color: rgb(127 0 85);
}
.sdf3 code .cons_Octal {
  color: rgb(127 0 85);
}
.sdf3 code .cons_Decimal {
  color: rgb(127 0 85);
}
.sdf3 code .cons_Hexadecimal {
  color: rgb(127 0 85);
}
